<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CS290 Final</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.js" charset="utf-8" defer></script>
  
    <script src="/index.js" charset="utf-8" defer></script>
    <script src="/colorList.js" charset="utf-8" defer></script>

  </head>
  <body>

    {{#if header}}
      {{> header}}
    {{/if}}

    {{{body}}}

  </body>

</html>