<div id="canvas1">
    <section id="Leaderboard">
        <h2>High scores:</h2>
        <ul>
            <li>1: </li>
            <li>2: </li>
            <li>3: </li>
            <li>4: </li>
            <li>5: </li>
        </ul>
    </section>
</div>