<div>
  <div class="start-menu">
    <button type="button" id="start-button"><a href="./play">Start</a></button>
    <button type="button" id="leaderboard-button"><a href="./leaderboard">Leaderboard</a></button>
  </div>
</div>