:root {
  /* CSS HEX */
  --dark: rgb(29, 23, 52);
  --blue: rgb(43, 31, 117);
  --purple: rgb(102, 60, 192);
  --yellow: rgb(242, 163, 9);
  --orange: rgb(255, 75, 18);
  --maroon: rgb(217, 22, 86);
}

html, body {
  display: flex;
  flex-direction: column;
  height:100%;

  font-family: 'Roboto', sans-serif;
  margin: 0;

  background-color: var(--dark);
}

/* canvas {
  background-color: var(--purple);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

a {
  text-decoration: none;
}

header {
  background-color: var(--blue);
  display: flex;
  align-items: center;
  flex-shrink: 1;
}

header a {
  color: #fff;
}

.header-image-container {
  max-height: 150px;
  max-width: 150px;
}

.header-image-container img {
  max-height: 150px;
  max-width: 150px;
}

.site-title {
  font-size: 80px;
  font-weight: 100;
  margin: 0 0 0 20px;
}

.start-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 45rem;
  height: 30rem;

  border: 2px solid white;
  border-radius: 10px;
  background-color: var(--blue);
}

.start-menu button {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
  background-color: var(--purple);

  width: 30rem;
  height: 6rem;
  margin: 2rem 0;

  border: none;

  * {
    color: #fff;
  }
}

.start-menu button:hover {
  scale: 1.05;
}

.start-menu button:active {
  background-color: rgba(102, 60, 192, 0.75);
}

#canvas1 {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}

/*Section for the game page*/

/*Score display:*/

.score-display{
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
  background-color: var(--purple);
  color: white;

  border: 5px, solid white;

  width: 30rem;
  height: 6rem;
  margin: 2rem 0;

  display: flex;
  justify-content: center;

  position: fixed; /* Position the element fixed relative to the viewport */
  bottom: 0;   
  left: 0rem;        


}

.score-display:hover{
  scale: 1.05;
}

.score-display:active{
  background-color: var(--blue)

}

#color-display {
  
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--purple);

  border: 5px, solid white;

  width: 30rem;
  height: 6rem;
  margin: 2rem 0;
  
  width: 30rem;
  height: 6rem;
  margin: 2rem 0;

  position: fixed; /* Position the element fixed relative to the viewport */
  bottom: 0;   
  right: 0rem;  

  
}

#color-display .text {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4em;
  color: white;
  
  
}

